.DS_Store
*.pyc
notes.txt
lift_book.pdf
experiments/config.py
boot/
classes/
lib_managed/
src_managed/
target/
stax/build/
stax/derby.log
stax/derby_db
stax/lift_example
stax/lift_example2
stax/src/resources/props/*
stax/src/main/resources/props/*
